<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/boardWrite.css}">

</head>
<body>

<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>

    <br><br><br>
    <br><br><br>
    <a>커뮤니티 작업 확인용 메인페이지</a>
    <br><br><br>
    <a th:href="@{board/write}">게시판 작성화면</a><br>
    <a th:href="@{board/read/27}">게시판 글 상세보기</a><br>
    <a th:href="@{board/list}">게시판 목록화면</a><br><br>

    <a th:href="@{board/feedWrite}">일상피드 작성화면</a><br>
    <a th:href="@{board/feedView}">일상피드 목록화면</a><br><br>

    <a th:href="@{member/mypage/myBoardList}">내 게시글 목록</a><br>
    <a th:href="@{member/userPage/sya48}">상대유저 페이지</a><br>
    <a th:href="@{member/userPage/sya48/userBoardList}">상대유저 게시글 목록</a><br>


<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</body>

</html>